html {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* student_ok.html */
.fa-user {
  color: green;
}

/* course_ok.html */
.fa-save {
  color: green;
}

/* index_student.html */
.form-student {
  width: 100%;
  max-width: 650px;
  padding: 10px;
  margin: auto;
  border: black;
}
.row {
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dce7ec;
  border-radius: 10px;
}
