{% include 'header.html' %}

    <title>Student Profile</title>

  </head>

  <body>

    {% include 'headNavBar.html' %}

    <h2 class="mt-5 font-weight-normal">
      Formulario del estudiante {{idStudent}}
    </h2>

    <form action="/studentProfile/{{idStudent}}" class="form-student" method="post" >

      <!-- Pregunta 1 -->
      <label class="font-weight-bold mt-4">
        1. Selecciona tu idioma de preferencia
      </label><br />

      <input type="radio" id="eng" name="idioma" value="ingles"
        {{'checked' if language =="ingles" else '' }} />
      <label for="ingles">Inglés</label><br />
      <input type="radio" id="spa" name="idioma" value="español"
        {{'checked' if language =="español" else '' }}/>
      <label for="español">Español</label><br />
      <input type="radio" id="eng-spa" name="idioma" value="ing-esp"
        {{'checked' if language =="ing-esp" else '' }}/>
      <label for="ing-esp">Inglés - Español</label><br />
      <br />


      <!-- Pregunta 2 -->
      <label class="font-weight-bold mt-3" >
        2. Si pudieras elegir un formato en el que prefieres aprender un tema, ¿Cuál de los siguientes escogerías? Puedes escoger varias opciones.
      </label><br />

      <input type="checkbox" id="video" name="formato" value="video"
        {{'checked' if "video" in formats else '' }}/>
      <label for="video"> Video </label><br />
      <input type="checkbox" id="audio" name="formato" value="audio"
        {{'checked' if "audio" in formats else '' }}/>
      <label for="audio"> Audio </label><br />
      <input type="checkbox" id="ppt" name="formato" value="presentacion"
        {{'checked' if "presentacion" in formats else '' }}/>
      <label for="ppt"> Presentación </label><br />
      <input type="checkbox" id="app" name="formato" value="app"
        {{'checked' if "app" in formats else '' }}/>
      <label for="app"> App </label><br />
      <input type="checkbox" id="web" name="formato" value="web"
        {{'checked' if "web" in formats else '' }}/>
      <label for="web"> Página Web </label><br />
      <input type="checkbox" id="imagen" name="formato" value="imagen"
        {{'checked' if "imagen" in formats else '' }}/>
      <label for="imagen"> Imágenes </label><br />
      <br />


      <!-- Pregunta 3 -->
      <label class="font-weight-bold mt-3"> 3. Elige las fuentes que sean de tu interés. Puedes elegir más de una. </label><br />
      <input type="checkbox" id="fuente1" name="fuente" value="articulos"
        {{'checked' if "articulos" in sources else '' }}/>
      <label for="fuente1"> Artículos científicos: arxiv, pubmed,... </label><br />
      <input type="checkbox" id="fuente2" name="fuente" value="libros"
        {{'checked' if "libros" in sources else '' }}/>
      <label for="fuente2"> Libros: Doab, IntechOpen,... </label><br />
      <input type="checkbox" id="fuente3" name="fuente" value="foros"
        {{'checked' if "foros" in sources else '' }}/>
      <label for="fuente3"> Foros: Stack Overflow </label><br />
      <input type="checkbox" id="fuente3" name="fuente" value="Wikipedia"
        {{'checked' if "Wikipedia" in sources else '' }}/>
      <label for="fuente4"> Wikipedia </label><br />
      <input type="checkbox" id="fuente5" name="fuente" value="objetos"
        {{'checked' if "objetos" in sources else '' }}/>
      <label for="fuente5"> Objetos de aprendizaje </label><br />
      <br />

      <!--  Guardar formulario -->
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <i class="far fa-save"></i>
        Save
      </button>

    </form>
  </body>
</html>
