{% include 'header.html' %}

    <title>Course Profile</title>

  </head>

  <body>

    {% include 'headNavBar.html' %}

    <h2 class="mt-5 font-weight-bold">
      Formulario del curso {{idCourse}}
    </h2>

    <div class="row m-5">

      <div class="col mx-4 px-5">

        <h3>Preguntas</h3>

        <form action="/courseProfile/{{idCourse}}?username={{username}}" class="form-course" method="post">

       <!-- Pregunta 1 -->
       <div class="row">
        <div class="font-weight-bold col-4 text-left">
            <label>1. Selecciona tu idioma preferido</label>
          </div>
        <div class="col-8 text-left">
          <div class="form-check">
              <input type="radio" id="eng" name="idioma" value="ingles"
              {{'checked' if language =="ingles" else '' }} />
            <label for="eng">Inglés</label><br />
          </div>
          <div class="form-check">
              <input type="radio" id="spa" name="idioma" value="español"
              {{'checked' if language =="español" else '' }}/>
            <label for="spa">Español</label><br />
          </div>
          <div class="form-check">
              <input type="radio" id="eng-spa" name="idioma" value="ing-esp"
              {{'checked' if language =="ing-esp" else '' }}/>
            <label for="eng-spa">Inglés - Español</label>
          </div>
        </div>
      </div>

          <!-- Pregunta 2 -->
          <div class="row">
            <div class="font-weight-bold col-4 text-left">
                <label> 2. Elige las fuentes que sean de tu interés. Puedes elegir más de una.</label>
              </div>
              <div class="col-8 text-left">
                <div class="form-check">
                  <input type="checkbox" id="fuente1" name="fuente" value="articulos"
            {{'checked' if "articulos" in sources else '' }}/>
          <label for="fuente1"> Artículos científicos: arxiv, pubmed,... </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="fuente2" name="fuente" value="libros"
            {{'checked' if "libros" in sources else '' }}/>
          <label for="fuente2"> Libros: Doab, IntechOpen,... </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="fuente3" name="fuente" value="foros"
                  {{'checked' if "foros" in sources else '' }}/>
                <label for="fuente3"> Foros: Stack Overflow </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="fuente4" name="fuente" value="Wikipedia"
                  {{'checked' if "Wikipedia" in sources else '' }}/>
                <label for="fuente4"> Wikipedia </label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="fuente5" name="fuente" value="objetos"
                  {{'checked' if "objetos" in sources else '' }}/>
                <label for="fuente5"> Objetos de aprendizaje </label>
                </div>
              </div>
            </div>

     
          <!--  Guardar formulario -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            <i class="far fa-save"></i>
            Guardar
          </button>

        </form>

      </div>

      <div class="col mx-4 px-5 ">
        <h3>Información sobre las fuentes</h3>
        <p class="font-weight-bold">Artículos</p>
        <ul class="mt-0">
          <li><b>Arxiv</b>: free distribution service for scholarly articles. Fields: physics, mathematics, computer science, quantitative biology, quantitative finance, statistics, electrical engineering and systems science, and economics.</li>
          <li><b>PubMed Central</b>: free full-text archive of biomedical and life sciences journal literature at the U.S. National Institutes of Health's National Library of Medicine (NIH/NLM).</li>
          <li><b>Doaj </b>: community-curated online directory that indexes and provides access to high quality, open access, peer-reviewed journals.</li>
          <li><b>OpenAire</b>: European project supporting Open Science. Open and sustainable scholarly communication infrastructure responsible for the overall management, analysis, manipulation, provision, monitoring and cross-linking of all research outcomes.</li>
        </ul>

        <p class="font-weight-bold">Libros</p>
        <ul>
          <li> <b>Doab</b>: open directory to all peer reviewed books in Open Access. </li>
          <li><b>IntechOpen</b>: around Open Access Books. </li>
        </ul>

        <p class="font-weight-bold">Foros</p>
        <ul>
          <li><b>Stack OverFlow</b>:  most trusted online community for developers to learn, share​ ​their programming ​knowledge, and build their careers.</li>
        </ul>

        <p class="font-weight-bold">Wikis</p>
        <ul>
          <li><b>Wikipedia</b> </li>
        </ul>

        <p class="font-weight-bold">Objetos de aprendizaje</p>
        <ul>
          <li><b>Merlot</b>: curated online learning and support materials and content creation tools</li>
        </ul>

      </div>


    </div>
  </body>
</html>
